@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using EventCalendar.Core.Services

@{
	int location = int.Parse(Model.MacroParameters["location"].ToString());
	int take = int.Parse(Model.MacroParameters["take"].ToString());
	int detailId = int.Parse(Model.MacroParameters["detailsPage"].ToString());
	var events = LocationService.GetUpcomingEventsForLocation(location,take);
	var detailPage = Umbraco.TypedContent(detailId);
}

<p>@Umbraco.GetDictionaryValue("EventCalendar:EventList:UpcomingEventsHeadline")</p>
@if(events.Any()){
	<p>@Umbraco.GetDictionaryValue("EventCalendar:EventList:UpcomingEventsHeadline")</p>
	<ul>
		@foreach(var e in events){
			var url = detailPage.Url + "?id=" + e.Id + "&type=" + e.Type + "&calendar=" + e.CalendarId;
			<li><a href="@url">@e.Title</a></li>
		}
	</ul>
} else {
	<p>@Umbraco.GetDictionaryValue("EventCalendar:EventList:NoEntries")</p>
}