@inherits Umbraco.Web.Mvc.UmbracoViewPage<EventCalendarBelle.Models.EventDetailsModel>
@using System.Globalization
@{
    var showLocation = (Model.LocationId != 0) ? true : false;
}
@if (showLocation)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var myLatlng = new google.maps.LatLng(@Model.Location.lat,@Model.Location.lon);
            var mapOptions = {
                center: myLatlng,
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"),
                mapOptions);
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title:"Your Target"
            });
        });
    </script>
}
<section class="EventDetails">
    <div class="container">
        <div class="row-fluid">
            <h1>@Model.Title</h1>
        </div>
        <div class="row-fluid">
            <div class="span12" id="settings">
                <p>Start: @Model.StartDate</p>
                @if (Model.EndDate != null)
                {
                    <p>End: @Model.EndDate</p>
                }
            </div>
        </div>
        @if(Model.Organisator != null) {
            <div class="row-fluid">
                <hr />
                <h3><a href="mailto:@Model.Organisator.Email">Organisator: @Model.Organisator.Name</a></h3>
            </div>
        }
        <div class="row-fluid">
            @if (showLocation)
            {
                <hr />
                <div class="span12" id="location">
                    <div class="row-fluid">
                        <h2>
                            Location: @Model.Location.LocationName</h2>
                    </div>
                    <div class="row-fluid">
                        <div class="span4">
                        <fieldset>
                            <legend>Location Adress</legend>
                            <p>@Model.Location.Street</p>
                            <p>@Model.Location.ZipCode @Model.Location.City</p>
                            <p>@Model.Location.Country</p>
                        </fieldset>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="map_canvas" style="height: 300px">
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row-fluid">
            <hr />
            <div class="span12" id="description">
                @Html.Raw(Model.GetDescription(CultureInfo.CurrentCulture.ToString()))
            </div>
            <div class="span12">
                <div class="btn-group">
                    @Html.ActionLink("Download Event", "GetIcsForEvent", "ECSurface", new { area = "EventCalendar", id = Request["id"], type = Request["type"] }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Download Calendar","GetIcsForCalendar", "ECSurface", new { area = "EventCalendar", id = Model.CalendarId }, new { @class = "btn btn-success" })
                </div
                
            </div>
        </div>
    </div>
</section>