@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using EventCalendarBelle
@{
    Layout = "";
    int id = 0;
    try{
        id = Convert.ToInt32(Model.Content.GetProperty("calendar").Value);
    }catch(Exception ex){}
    var calendar = EventCalendarApplication.GetCalendar(id);
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="@Url.Content("~/css/EventCalendar/bootstrap.css")">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
		<link type="text/css" href="@Url.Content("~/css/EventCalendar/fullcalendar.css")" rel="stylesheet" />
		<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/jquery-1.9.1.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/fullcalendar.min.js")"></script>
        @if (null != calendar && calendar.IsGCal)
        {
            <script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/gcal.js")"></script>
        }
		<script type="text/javascript">
		    $(document).ready(function () {
		        $('#calendar').fullCalendar({
		            events: {
                        @if (null != calendar && calendar.IsGCal)
                        {
                            <text>url: '</text>@calendar.GCalFeedUrl<text>',</text>
                        }
                        else
                        {
						    <text>
		                url: 'EventCalendar/ECFontendApi/GetCalendarEvents/',
				        type: 'GET',
				        data: {
				            id: '@id'
						        },
                            </text>
                        }
				        error: function () {
				            alert('There was an error while fetching events!');
				        }
				    },
				    eventClick: function (event) {
				        if (event.url) {
				            window.open(event.url);
				            return false;
				        } else {
				            if (event.type == 1) {
				                window.location.href = '@Model.Content.Down().Url?id=' + event.id + '&type=1&calendar=' + event.calendar;
                            } else {
                                window.location.href = '@Model.Content.Down().Url?id=' + event.id + '&type=0&calendar=' + event.calendar;
                            }
                            return false;
                        }
                    }
				})
			});
		</script>
	</head>
    <body>
        <div class="container">
		    <div id="calendar"></div>
        </div>
	</body>
</html>