@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using EventCalendarBelle
@using EventCalendarBelle.Models
@using System.Globalization
@{
    Layout = "";
    int id = 0;
    try{
        id = int.Parse(Model.Content.GetPropertyValue<string>("calendar"));
    }catch(Exception ex){}
    var calendar = EventCalendarHelper.GetCalendar(id);
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
		<link type="text/css" href="@Url.Content("~/css/EventCalendar/fullcalendar.css")" rel="stylesheet" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/moment.min.js")"></script>
		<script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/fullcalendar.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/gcal.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/EventCalendar/lang-all.js")"></script>       
		<script type="text/javascript">
		    var event_details_url = '@Model.Content.Down().Url';
		    $(document).ready(function () {
		        var sources = [];
		        $.get("/umbraco/EventCalendar/ECApi/GetCalendarSources/", { id: '@id' }, function (data) {
		            $('#calendar').fullCalendar({
		                @if (null != calendar)
                        {
						    <text>defaultView: '@calendar.ViewMode',</text>
		                }
                        else {
                            <text>defaultView: 'month',</text>
                        }
		                header: {
		                    left: 'prev,next today',
		                    center: 'title',
		                    right: 'month,basicWeek,basicDay'
		                },
		                lang: '@CultureInfo.CurrentCulture.TwoLetterISOLanguageName.ToLower()',
                        eventSources: data,
		                eventClick: function (event) {
		                    if (event.url) {
		                        window.open(event.url);
		                        return false;
		                    } else {
		                        if (event.type == 1) {
		                            window.location.href = event_details_url + '?id=' + event.id + '&type=1&calendar=' + event.calendar;
		                    } else {
		                        window.location.href = event_details_url + '?id=' + event.id + '&type=0&calendar=' + event.calendar;
		                    }
                            return false;
                        }
		            }
		            });
		        });		        
			});
		</script>
	</head>
    <body>
        <div class="container">
		    <div id="calendar"></div>
        </div>
	</body>
</html>